<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>DRSS Easy Trak</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">

        <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css">
        <style>
            body {
                padding-top: 60px;
                padding-bottom: 40px;
            }
        </style>
        <link rel="stylesheet" href="/static/bootstrap/css/bootstrap-responsive.min.css">
        <link href="/static/css/bootstrap-editable.css" rel="stylesheet">
        <link href="/static/css/datepicker.css" rel="stylesheet">
        <link href="/static/css/colorbox.css" rel="stylesheet">
        <link rel="stylesheet" href="/static/css/main.css">

        <script src="/static/bootstrap/js/vendor/modernizr-2.6.2-respond-1.1.0.min.js"></script>
        <script>
        user="{{ user }}"
        project="{{ project.id }}"
        </script>
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
        <![endif]-->

        <!-- This code is taken from http://twitter.github.com/bootstrap/examples/hero.html -->
{% block menubar %}
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container">
                    <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </a>
                    <a class="brand" href="#">DRSS</a>
                    <div class="nav-collapse collapse">
                        {% if user.is_staff %}
                        <ul class="nav">
                            <li {%if  request.get_full_path == "/projects/"%}class="active"{%endif%}><a href="/projects"><i class="icon-home icon-white"></i> Home</a></li>
                            <li {%if  request.get_full_path == "/salespeople/"%}class="active"{%endif%}><a href="/salespeople/" ><i class="icon-user icon-white"></i> Sales People</a></li>
                            <li {%if  request.get_full_path == "/funding-advisors/"%}class="active"{%endif%}><a href="/funding-advisors/" ><i class="icon-user icon-white"></i> Funding Advisors</a></li>
                            <li {%if  request.get_full_path == "/day-planner/"%}class="active"{%endif%}><a href="/day-planner"> <i class="icon-th icon-white"></i> Day Planner</a></li>
                        </ul>
                        {%endif%}
                        <ul class="nav pull-right">

                        {% if user.is_authenticated %}
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ user }} <b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    <li><a href="/logout?next={{request.get_full_path}}">Log Out</a></li>
                                </ul>
                            </li>
                        {% else %}
                            <li><a href="/api-auth/login/?next={{request.get_full_path}}">Log in</a></li>
                            <li><a href="/login/google-oauth2?next={{request.get_full_path}}">Connect via Google</a></li>                            

                        {% endif %}
                   
</ul>
                    </div><!--/.nav-collapse -->
                </div>
            </div>
        </div>
 {% endblock %}
        <div class="container">
{%block secondarynav%}
{% endblock %}


            <!-- Main hero unit for a primary marketing message or call to action -->

            <!-- Example row of columns -->
            <div class="row">
            {% block heroUnit %}{% endblock %}
            {% block message %}{% endblock %}
            {% block breadcrumbs %}{% endblock %}
             {% block search %}{% endblock %}
            {% block content %}{% endblock %}
            </div>

            <hr>

            <footer>
                <p>&copy; Discount Retail Store Services 2013</p>
            </footer>

        </div> <!-- /container -->

        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.9.1.min.js"><\/script>')</script>
        <script src="/static/bootstrap/js/vendor/handlebars.js"></script>
        <script src="/static/bootstrap/js/bootstrap.min.js"></script>
        <script src="/static/js/jquery-ui-1.10.2.custom.min.js"></script>
        <script src="/static/js/bootstrap-editable.js"></script>
        <script src="/static/js/bootstrap-datepicker.js"></script>
        <script src="/static/js/jquery.colorbox-min.js"></script>
        <script src="/static/js/vendor/audiojs/audio.min.js"></script>
        <script src="/static/js/main.js"></script>

        <script>
            var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
            (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
            g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
            s.parentNode.insertBefore(g,s)}(document,'script'));
        </script>
    </body>
</html>
