{% extends 'base.html' %}
 {% load pagination_tags %}



{%block secondarynav%}
<div class="navbar">
  <div class="navbar-inner">
    <ul class="nav">
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-book"></i> My Reports<b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li {%if  request.get_full_path == "/sdl/"%}class="active"{%endif%}><a href="/sdl/" >Sales Deposit Log</a></li>
          <li class=""><a href="/refunds/">Refunds</a></li>
          <li class=""><a href="/real-estate/">My Clients in Real Estate</a></li>
        </ul>
      </li>
      <li><a href="/projects/create" ><i class="icon-plus-sign"></i> Create Application</a></li>
      <li><a href="/assign/finance/"><i class="icon-star"></i> Assign Funding Advisor</a></li>
      <li> 
        <form class="form-search navbar-form pull-right" method="get" action="/search">
<div class="input-append">
  <input class="span4 search-query" id="appendedInputButton" name ="q" type="text" placeholder="Search Name, Email, Phone Number, or City">
  <button class="btn" type="submit">Search</button>
</div>
</form>
</li>
    </ul>
  </div>
</div>
{% endblock %}
{% block content %}
<!-- <ul class="nav nav-pills">
              <li class="dropdown">
                <a class="dropdown-toggle" id="drop4" role="button" data-toggle="dropdown" href="#">Sales Person<b class="caret"></b></a>
                <ul id="menu1" class="dropdown-menu" role="menu" aria-labelledby="drop4">
                     {% for salesperson in salespersons %}
                  <li role="presentation"><a role="menuitem" tabindex="-1" href="/projects/?sales={{salesperson.user}}">{{salesperson.full_name}}</a></li>
                   {% endfor %}
                </ul>
              </li>
              <li class="dropdown">
                <a class="dropdown-toggle" id="drop5" role="button" data-toggle="dropdown" href="#">Funding Advisor<b class="caret"></b></a>
                <ul id="menu2" class="dropdown-menu" role="menu" aria-labelledby="drop5">
                     {% for fundingadvisor in fundingadvisors %}
                  <li role="presentation"><a role="menuitem" tabindex="-1" href="#">{{fundingadvisor.full_name}}</a></li>
                   {% endfor %}
                </ul>
              </li>
              <li class="dropdown">
                <a class="dropdown-toggle" id="drop5" role="button" data-toggle="dropdown" href="#">Concept<b class="caret"></b></a>
                <ul id="menu3" class="dropdown-menu" role="menu" aria-labelledby="drop5">
                     {% for concept in concepts %}
                  <li role="presentation"><a role="menuitem" tabindex="-1" href="#">{{concept.title}}</a></li>
                   {% endfor %}
                </ul>
              </li>
            </ul> -->
            {% autopaginate projects %}
   <div class="span12">         
   <div class="accordion" id="accordion2">
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
        Project Filters
      </a>
    </div>
    <div id="collapseOne" class="accordion-body collapse in">
      <div class="accordion-inner">
        {{ projectsfilter }}
      </div>
    </div>
  </div>
</div>
            {% paginate %}
    {% if projects %}
    <table class="table table-striped">
            <thead>
            <tr>
                <th>Full Name</th>
                <th>Project Status</th>
                <th>Site Locator</th>
                <th>CSM</th>
                <th>Lease Negotiator</th>
                <th>Last Action</th>
                <th>Past Due Tasks</th>
            </tr>
            </thead>
            <tbody>
                {% for project in projects %}
            <tr>
            <td><a href="/projects/{{ project.id }}/"> {{project.full_name}}</a></td>
            <td>{{project.status}}</td>
            <td>{{project.site_locator}}</td>
            <td>{{project.csm}}</td>
            <td>{{project.leasing_manager }}</td>
            <td>{{project.most_recent_activity}}</td>
            <td>
                      {% if project.past_due_tasks > 0 %}
        <span class="badge badge-important">{{project.past_due_tasks}}</span>
        {% else %}
        <span class="badge badge-success">Up To Date</span>
        {% endif %}
            </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
  </div> 
{% else %}
    <p>No projects are available.</p>
{% endif %}

{% endblock %}