{% extends 'base.html' %}
{% block content %}
<!-- <ul class="nav nav-pills">
              <li class="dropdown">
                <a class="dropdown-toggle" id="drop4" role="button" data-toggle="dropdown" href="#">Sales Person<b class="caret"></b></a>
                <ul id="menu1" class="dropdown-menu" role="menu" aria-labelledby="drop4">
                     {% for salesperson in salespersons %}
                  <li role="presentation"><a role="menuitem" tabindex="-1" href="/projects/?sales={{salesperson.user}}">{{salesperson.full_name}}</a></li>
                   {% endfor %}
                </ul>
              </li>
              <li class="dropdown">
                <a class="dropdown-toggle" id="drop5" role="button" data-toggle="dropdown" href="#">Funding Advisor<b class="caret"></b></a>
                <ul id="menu2" class="dropdown-menu" role="menu" aria-labelledby="drop5">
                     {% for fundingadvisor in fundingadvisors %}
                  <li role="presentation"><a role="menuitem" tabindex="-1" href="#">{{fundingadvisor.full_name}}</a></li>
                   {% endfor %}
                </ul>
              </li>
              <li class="dropdown">
                <a class="dropdown-toggle" id="drop5" role="button" data-toggle="dropdown" href="#">Concept<b class="caret"></b></a>
                <ul id="menu3" class="dropdown-menu" role="menu" aria-labelledby="drop5">
                     {% for concept in concepts %}
                  <li role="presentation"><a role="menuitem" tabindex="-1" href="#">{{concept.title}}</a></li>
                   {% endfor %}
                </ul>
              </li>
            </ul> -->
            <div class="accordion" id="accordion2">
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
        Deposit Filters
      </a>
    </div>
    <div id="collapseOne" class="accordion-body collapse in">
      <div class="accordion-inner">
        {{ paymentsfilter }}
        
      </div>
    </div>
  </div>
    {% if payments %}
    <table class="table table-striped">
            <thead>
            <tr>
              <th>Date Deposit Received</th>
              <th>Full Name</th>
              <th>Concept</th>
              <th>High Net Worth</th>
              <th>SalesPerson</th>
              <th>Deposit</th>
              <th>Payment Info</th>
              <th>State</th>
              <th>Store Size</th>
              <th>Lead Source</th>
            </tr>
            </thead>
            <tbody>
                {% for payment in payments %}
            <tr>
            <td>{{payment.payment_date}}</td>
            <td><a href="/projects/{{ payment.sdl.id }}/"> {{payment.sdl.name}}</a></td>
            <td>{{payment.sdl.concept}}</td>
            <td>{{payment.sdl.high_net_worth}}</td>
            <td>{{payment.sdl.sales_rep}}</td>
            <td>{{payment.payment_amount}}</td>
            <td>{{payment.payment_type}} #{{payment.last_four_num}}</td>
            <td>{{payment.sdl.state}}</td>
            <td>{{payment.sdl.store_size}}</td>
            <td>{{payment.sdl.lead_source}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% else %}
    <p>No projects are available.</p>
{% endif %}

{% endblock %}