<a href="emails" class="btn btn-block btn-primary">Send New Email</a>
<a class="btn btn-block" href="#">Log Phone Call</a>
<table class="table">
	<caption><h3>Client Tasks</h3></caption>
<thead>
	<tr>
	<th>Contact Date</th>
	<th>Type</th>
	<th>Title</th>
	<th>Assigned To</th>
	<th>Result</th>
</tr>
</thead>
<tbody>
	{% for contact in contacts %}
    <tr>
        <td>{{contact.scheduled_date}}</td>
        <td><img src="/static/img/{{contact.task_type}}.png" alt="{{contact.task_type}}"></td>
        <td><a href = "tasks/{{contact.id}}">{{contact.title}}</a></td>
        <td>{{contact.user}}</td>
        {%if contact.result.title%}
        <td><span class="label label-{{contact.result.quality}}">{{contact.result.title}}</span></td>
        {% else %}
         <td><span class="label label-important">Not Completed</span></td>
         {%endif%}
    </tr>
	{%endfor%}

	

</tbody>
</table>
