<div class="span10">
	<ul class="nav nav-pills">
  <li class="active">
    <a href="#">Corbin Parthenia Center</a>
  </li>
  <li><a href="#">North Ridge Promenade</a></li>
  <li><a href="#">Van Nuys Center</a></li>
</ul>
</div>

<div class="span2">
	<table class="table">
		<caption>Landlord Asking</caption>
		<thead>
			<tr>
				<th>
					Space #
				</th>
			</tr>
			<tr>
				<td>595</td>
			</tr>
			<tr>
				<th>
					Strategy
				</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>Price is High we Need to get to $900</td>
			</tr>
			
			<tr>
				<th>
					Base Monthly Rent
				</th>
			</tr>
			<tr>
				<td>$1,740.67</td>
			</tr>
			<tr>
				<th>
					Additional Comments
				</th>
			</tr>
			<tr>
				<td>This is a rather long list of additional comments for review.</td>
			</tr>
		</tbody>
	</table>
</div>
<div class="span2">
	<table class="table">
		<caption>DRSS Initial LOI</caption>
		<thead>
			<tr>
				<th>
					Space #
				</th>
			</tr>
			<tr>
				<td>595</td>
			</tr>
			<tr>
				<th>
					Strategy
				</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>Asking for 850 plus first month free.</td>
			</tr>
			
			<tr>
				<th>
					Base Monthly Rent
				</th>
			</tr>
			<tr>
				<td>$850</td>
			</tr>
			<tr>
				<th>
					Additional Comments
				</th>
			</tr>
			<tr>
				<td>This is a rather long list of additional comments for review.</td>
			</tr>
						<tr>
				<td><a href="#" class="btn">Make Final</a></td>
			</tr>
		</tbody>
	</table>
</div>
<div class="span2">
	<table class="table">
		<caption>LandLord Counter</caption>
		<thead>
			<tr>
				<th>
					Space #
				</th>
			</tr>
			<tr>
				<td>595</td>
			</tr>
			<tr>
				<th>
					Strategy
				</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>Still too much, asking for 899.</td>
			</tr>
			
			<tr>
				<th>
					Base Monthly Rent
				</th>
			</tr>
			<tr>
				<td>$899.00</td>
			</tr>
			<tr>
				<th>
					Additional Comments
				</th>
			</tr>
			<tr>
				<td>This is a rather long list of additional comments for review.</td>
			</tr>
		</tbody>
	</table>
</div>
<div class="span2">
	<table class="table">
		<caption>DRSS Counter</caption>
		<thead>
			<tr>
				<th>
					Space #
				</th>
			</tr>
			<tr>
				<td>595</td>
			</tr>
			<tr>
				<th>
					Strategy
				</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>This is good but can we get the walls painted.</td>
			</tr>
			
			<tr>
				<th>
					Base Monthly Rent
				</th>
			</tr>
			<tr>
				<td>$1,740.67</td>
			</tr>
			<tr>
				<th>
					Additional Comments
				</th>
			</tr>
			<tr>
				<td>This is a rather long list of additional comments for review.</td>
			</tr>
						<tr>
				<td><a href="#" class="btn">Make Final</a></td>
			</tr>
		</tbody>
	</table>
</div>
