<div class="span10">
	<ul class="nav nav-pills">
  <li class="active">
    <a href="#">Corbin Parthenia Center</a>
  </li>
  <li><a href="#">North Ridge Promenade</a></li>
  <li><a href="#">Van Nuys Center</a></li>
</ul>
</div>
<div class="span2">
	<table class="table">
		<caption>Landlord Asking</caption>
		<thead>
			<tr>
				<th>
					Space #
				</th>
			</tr>
			<tr>
				<td>595</td>
			</tr>
			<tr>
				<th>
					Strategy
				</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>Price is High we Need to get to $9.05</td>
			</tr>
			<tr>
				<th>
					Term
				</th>
			</tr>
			<tr>
				<td>1 - 36</td>
			</tr>
			<tr>
				<th>
					Base PSF/Annual
				</th>
			</tr>
			<tr>
				<td>$10.22</td>
			</tr>
			<tr>
				<th>
					Additional Comments
				</th>
			</tr>
			<tr>
				<td>This is a rather long list of additional comments for review.</td>
			</tr>
		</tbody>
	</table>
</div>
<div class="span2">
	<table class="table">
		<caption><a href="/loi/42">DRSS Initial LOI<a></caption>
		<thead>
			<tr>
				<th>
					Space #
				</th>
			</tr>
			<tr>
				<td>595</td>
			</tr>
			<tr>
				<th>
					Strategy
				</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>Price is High we Need to get to $9.05</td>
			</tr>
			<tr>
				<th>
					Term
				</th>
			</tr>
			<tr>
				<td>1 - 36</td>
			</tr>
			<tr>
				<th>
					Base PSF/Annual
				</th>
			</tr>
			<tr>
				<td>$10.22</td>
			</tr>
			<tr>
				<th>
					Additional Comments
				</th>
			</tr>
			<tr>
				<td>This is a rather long list of additional comments for review.</td>
			</tr>
		</tbody>
	</table>
</div>
<div class="span2">
	<table class="table">
		<caption><a href="/loi/42">LandLord Counter</a></caption>
		<thead>
			<tr>
				<th>
					Space #
				</th>
			</tr>
			<tr>
				<td>595</td>
			</tr>
			<tr>
				<th>
					Strategy
				</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>Price is High we Need to get to $9.05</td>
			</tr>
			<tr>
				<th>
					Term
				</th>
			</tr>
			<tr>
				<td>1 - 36</td>
			</tr>
			<tr>
				<th>
					Base PSF/Annual
				</th>
			</tr>
			<tr>
				<td>$10.22</td>
			</tr>
			<tr>
				<th>
					Additional Comments
				</th>
			</tr>
			<tr>
				<td>This is a rather long list of additional comments for review.</td>
			</tr>
		</tbody>
	</table>
</div>
<div class="span2">
	<table class="table">
		<caption><a href="/loi/42">DRSS Counter</a></caption>
		<thead>
			<tr>
				<th>
					Space #
				</th>
			</tr>
			<tr>
				<td>595</td>
			</tr>
			<tr>
				<th>
					Strategy
				</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>Price is High we Need to get to $9.05</td>
			</tr>
			<tr>
				<th>
					Term
				</th>
			</tr>
			<tr>
				<td>1 - 36</td>
			</tr>
			<tr>
				<th>
					Base PSF/Annual
				</th>
			</tr>
			<tr>
				<td>$10.22</td>
			</tr>
			<tr>
				<th>
					Additional Comments
				</th>
			</tr>
			<tr>
				<td>This is a rather long list of additional comments for review.</td>
			</tr>
		</tbody>
	</table>
</div>
<button class="btn btn-block btn-primary" type="button">Add New Round</button>
