

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

#notes{
	max-height:500px;
	overflow:auto;
}
.counter{
text-align:center;
padding:10px;
}
.counter span{
font-size:48px;
display:block;
margin:20px;
}













