{% extends 'base.html' %}
{% load crispy_forms_tags %}
 {% block heroUnit %}
<div class="hero-unit">
                <h1>Store Application</h1>
                <p>Thank you for choosing Discount Retail Store Services.</p>
            </div>
{% endblock %}
{% block message %}
<div class="alert alert-info">
  Please complete the following store application as accurately as you can
  our finance department will use the information to identify possible funding paths for your store.</p>
  After completing part one of the application you will be asked to pay your fully refundable deposit via check or credit card.  If you have any questions please contact your National Development Director.
</div>
{% endblock %}
{% block content %}
   {% crispy form %}
{% endblock %}