{% extends 'base.html' %}
 {%load humanize%}
{%block secondarynav%}
<div class="navbar">
  <div class="navbar-inner">
    <ul class="nav">
      <li><a href="#" ><i class="icon-question-sign"></i>Request Ticket</a> </li>
      <li><a href="#"><i class="icon-plus"></i>Add a Project</a> </li>
    </ul>
  </div>
</div>
{%endblock%}
{% block content %}
    <div class="span12">
<div class="page-header">
<h1>Creative Department DashBoard</h1>
</div>
<ul class="nav nav-tabs" id="myTab">
    <li class="active"><a href="#projects" data-toggle="tab">Projects</a></li>
    <li><a href="#tickets" data-toggle="tab">Tickets</a></li>
    <li><a href="#recurring" data-toggle="tab">Recurring</a></li>
<li><a href="#reports" data-toggle="tab">Reports</a></li>
  </ul>

  <div class="tab-content">

    <div class="tab-pane active" id="projects">
        {{ projectsfilter }}
<table class="table">
<thead>
    <tr>
    <th>Project</th>
    <th><i class="icon-calendar"></i> Assigned Date</th>
    <th><i class="icon-time"></i> Due Date</th>
    <th><i class="icon-user"></i> People</th>
    <th><i class="icon-time"></i> Completion</th>
    <th><i class="icon-flag"></i> Recap</th>
</tr>
</thead>
<tbody>
    {% for work_project in work_projects%}
    <tr {% if work_projects.past_due %}class="error"{% endif %}>
<td><a href="/creative/workproject/{{work_project.id}}/">{{work_project.title}}</a></td>
<td>{{work_project.start_date}}</td>
<td>{{work_project.due_date}}</td>
<td>{% for person in work_project.project_user.all%}{{person}} {% endfor %}</td>
<td><div class="progress progress-striped">
                    <div class="bar" style="width: {{work_project.completion}}%"></div></div></td>
<td>{{work_project.note}}</td>
    </tr>
    {%endfor%}
</tbody>
</table>
    </div>

    <div class="tab-pane" id="tickets">

    </div>

    <div class="tab-pane" id="recurring">

    </div>
    <div class="tab-pane" id="reports">

    </div>

  </div>
</div>
{% endblock %}