{% extends 'base.html' %}
 {%load humanize%}
{%block message%}
{% if not tasks %}
<div class="alert alert-info">
 <strong>Congratulations</strong>, take the day off. You do not have any past due or currently due tasks. 
</div>
{% endif %}
{%endblock%}
{% block content %}
<div class="page-header">
<h1>My Activities<small> for {{date}}</small></h1>
</div>
<table class="table">
<thead>
	<tr>
	<th><i class="icon-calendar"></i> Due Date</th>
    <th><i class="icon-time"></i> Time</th>
	<th><i class="icon-tags"></i> Type</th>
    <th><i class="icon-user"></i> For Client</th>
	<th>Title</th>
	<th><i class="icon-time"></i> Estimated Time</th>
	<th><i class="icon-flag"></i> Result</th>
</tr>
</thead>
<tbody>
	{% for task in tasks%}
    <tr {% if task.past_due %}class="error"{% endif %}>
        <td>{{task.scheduled_date}}</td>
        <td>{{task.start_time}}</td>
        <td><img src="/static/img/{{task.task_type}}.png" alt="{{task.task_type}}"></td>
        <td><a href = "/projects/{{task.project.id}}">{{task.project.full_name}}</a></td>
        <td><a href = "/projects/{{task.project.id}}/tasks/{{task.id}}">{{task.title}}</a></td>
        <td>{% if task.completion_time %}{{task.completion_time|apnumber}} minutes {% endif%}</td>
        {%if task.result.title%}
        <td><span class="label label-{{task.result.quality}}">{{task.result.title}}</span></td>
        {% else %}
         <td><span class="label label-important">Not Completed</span></td>
         {%endif%}
    </tr>
	{%endfor%}
</tbody>
</table>
{% endblock %}