{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block breadcrumbs %}
 <ul class="breadcrumb">
  <li><a href="/projects">Projects</a> <span class="divider">/</span></li>
  <li><a href="/projects/{{project.id}}/#contact-history">{{project.full_name}}</a> <span class="divider">/</span></li>
  <li class="active">{{task.title}}</li>
</ul>
{% endblock %}


{% block content %}
   <div class="page-header">
  <h1>{{task.title}} <small>for {{task.project}}</small></h1>
</div>
        {%if task.result.title%}
        <td><span class="label label-{{task.result.quality}}">{{task.result.title}}</span></td>
        {% else %}
         <td><span class="label label-important">Not Completed</span></td>
         {%endif%}
{% if task.task_type.title == "task" %}
   {% include "mixins/task.html" %}
   {% elif task.task_type.title == "email"%}
   {% include "mixins/email.html" %}
   {% elif task.task_type.title == "phone"%}
   {% include "mixins/phone.html" %}
   {% endif %}

{% endblock %}