{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load humanize%}
{% block secondarynav %}
<div class="span12">
             <div class="navbar">
  <div class="navbar-inner">
    <ul class="nav">
      <li>
        <li class=""><a href="/admin/task_manager/ticket/{{ticket.id}}"><i class="icon-pencil"></i> Admin Edit</a></li>
      </li>

    </ul>
  </div>
</div>
</div>
{% endblock %}
{% block breadcrumbs %}
<div class="span12">
<ul class="breadcrumb">
  <li><a href="/creative">Creative Department</a> <span class="divider">/</span></li>
  <li class="active">{{ticket.title}}</li>
</ul>
</div>
{% endblock %}
{% block message %}

{% endblock %}

{% block content %}

   <div class="page-header span12">  
  <span class="label label-inverse">Assigned to: {{ticket.assigned_to}}</span>
  <span class="label label-info">For: {{ticket.belongs_to}}</span>
  <h1>{{ticket.title}}</h1>

</div>
<div class="span12">
  <p>{{ticket.description}}</p>
  {% if ticket.complete_time.time %}
  {% else %}
<a href="complete" class="btn btn-primary btn-block">Complete</a>
{% endif %}
</div>
{% endblock %}